/* Overall Website */
.Pageheader, header {
    text-align: center;
}

body {
    /* Just using this as a starting point, feel free to change it */
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 75px black;
}

section {
    background-color: #dbf0df;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
}

.navigation {
	padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    background-color: forestgreen;
}

.navigation a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: 3px solid forestgreen;
    border-radius: 0px;
    background-color: gold;
    color: black;
}

a {
    padding: 6px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: whitesmoke;
    text-decoration: none;
}

a:hover {
    background-color: palegreen;
}

/* Past Problem specific code (uses class="pastproblem") */

header.pastproblem {
    text-align: center;
    color: red;
}

div.pastproblem {
    text-align: left;
    margin-left: 50px;
}

div.pastproblem td {
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Survey-specific code (uses class="survey") */

div.survey label {
    margin-right: 2px;
    margin-bottom: 15px;
}

div.survey select {
    margin-right: 10px;
    margin-bottom: 15px;
}

div.survey input {
    margin-bottom: 15px;
    margin-right: 10px;
}


